In [8]:
import pandas as pd
import os
# Read data into papers
papers = pd.read_csv('/home/purvj/Documents/Final Year Project/CSV/womens.csv')
# Print head
papers.head()

,Unnamed: 0,Clothing ID,Age,Title,Review-Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
papers = papers.drop(columns=['Clothing ID', 'Age','Title','Rating','Recommended IND','Positive Feedback Count','Division Name','Department Name','Class Name'], axis=1).sample(100)
papers.head()

,Unnamed: 0,Review-Text,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
4270,NaN,I may wear these every day! i am obsessed. i a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3660,NaN,I'm normally a size 25p. i bought these in a 2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20667,NaN,Although it was a bit of a battle with my bra ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,NaN,Love these pants. the design is totally differ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import re
papers['ReviewText_processed'] = \
papers['ReviewText'].map(lambda x: re.sub('[,\.!?]', '', x))

TypeError: expected string or bytes-like object